<!-- GET /upload / Presents file upload prompt to user -->
<!-- POST /upload / Sends file to backend as well as the input type identifier-->

<html lang="en">
    <body>
        <form
            action="/upload/"
            enctype="multipart/form-data"
            method="post"
        >
            {% csrf_token %}
            {{ form }}
            <br/>
            <input type="submit" name="type" value="Submit Employees">
            <input type="submit" name="type" value="Submit Jobs">
            <input type="submit" name="type" value="Submit Departments">
        </form>
    </body>
</html>